<div class="flex flex-row" style="width: 100dvw; height: 100dvh">
  <aside
    class="h-screen max-h-screen w-14rem border-right-1 border-gray-200 flex flex-column"
  >
    <div class="flex flex-column p-2 pt-4">
      <h2 class="text-base m-0">STRSD - Desenvolvimen</h2>
      <span class="text-xs">Projeto de software</span>
    </div>
    <nav
      class="flex-grow-1 max-w-full flex w-15rem overflow-hidden flex-column gap-2"
    >
      <ol
        style="height: 100%; max-height: 100%"
        class="overflow-auto bg-gray-200 flex flex-column gap-3"
      >
        @for( a of menu(); track $index){
        <li>Item</li>
        }
      </ol>
    </nav>

    <div
      class="flex p-2 pb-3 flex-column justify-content-center align-items-center"
    >
      <span class="text-center text-xs">
        Você está em um projeto gerenciado por uma empresa
      </span>
      <a class="m-2 text-xs font-medium no-underline text-gray-900" href="#">
        Saiba mais
      </a>
    </div>
  </aside>

  <div class="flex-1 flex flex-column">
    <header
      class="flex sticky align-items-center justify-content-between px-3 py-2 border-gray-200 border-bottom-1 bg-white h-10rem"
    >
      <div class="flex align-items-center gap-3">
        <button
          pButton
          icon="pi pi-th-large"
          class="p-button-text flex flex-row gap-2 text-primary"
        >
          WeFin
        </button>
      </div>

      <div class="flex align-items-center gap-3">
        <p-avatar
          label="MF"
          styleClass="mr-2"
          [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
          shape="circle"
          pTooltip="Perfil e configurações"
          tooltipPosition="bottom"
        />
      </div>
    </header>
    <main class="flex-grow-1 overflow-hidden">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
