<div
  class="my-24 flex flex-column"
  style="max-height: 100%; height: 100%; padding: 10px; overflow: hidden"
>
  <header class="flex flex-row align-items-center mb-3">
    <label
      class="input-search border-1 w-12rem border-gray-600 hover:bg-gray-100 p-2 cursor-auto border-round-sm flex flex-row overflow-hidden"
      role="presentation"
      htmlFor="search"
    >
      <i
        class="pi pi-search text-sm mr-1 text-gray-600 flex justify-content-center align-items-center"
      ></i>
      <input
        aria-label="Pesquisar"
        maxlength="255"
        class="border-none outline-none max-w-full min-w-min w-full"
        type="text"
        placeholder="Pesquisar"
        autocomplete="off"
        name="search"
        id="search"
      />
    </label>

    <fieldset class="p-0 border-none">
      <legend hidden="true">Filtrar por responsável</legend>

      <p-avatarGroup class="m-0 p-0">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
          shape="circle"
          class="cursor-pointer"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png"
          shape="circle"
          class="cursor-pointer"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
          shape="circle"
          class="cursor-pointer"
        />
        <p-avatar
          label="+2"
          shape="circle"
          class="cursor-pointer"
          [style]="{
            'background-color': '#9c27b0',
            color: '#ffffff',
            'font-size': '14px'
          }"
        />
      </p-avatarGroup>
    </fieldset>

    <button
      class="border-none bg-white hover:bg-gray-200 text-sm text-gray-900 font-semibold border-round-sm m-1 flex flex-row gap-1 h-2rem px-2 justify-content-center align-items-center"
    >
      Filtros rápidos <i class="pi pi-angle-down"></i>
    </button>
  </header>

  <div
    class="overflow-auto relative"
    #scrollContainer
    cdkScrollable
    cdkDropListGroup
  >
    <main class="flex flex-row gap-3">
      @for (column of columns(); track column.id) {

      <app-kanban-column
        cdkDropList
        [cdkDropListData]="column"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="evenPredicate"
        [canDrop]="canDrop(column)"
        [cannotDrop]="cannotDrop(column)"
        [columnTitle]="column.title"
        [cdkDropListAutoScrollStep]="10"
        [visibleHeight]="visibleHeight()"
      >
        <h2
          class="text-xs sticky w-full flex top-0 my-3 px-2 text-gray-600 font-bold uppercase white-space-nowrap"
        >
          <span> {{ column.title }}</span>
          <span class="ml-2 font-normal"> {{ column.count }}</span>
        </h2>

        <div class="p-2 flex flex-column relative flex-shrink-1 flex-1">
          @for (ticket of column.tickets; track ticket.id) {

          <app-kanban-item
            cdkDrag
            [cdkDragData]="ticket"
            (cdkDragStarted)="onDragStart($event)"
            (cdkDragEnded)="onDragEnd($event)"
            [item]="ticket"
            class="mb-1 kanban-item"
          />

          <div
            [class.flex]="dragging() && !column.isDragging"
            class="absolute hidden pt-6 justify-content-center border-2 border-green-200 text-gray-900 bg-gray-100 top-0 bottom-0 left-0 right-0"
          >
            {{ column.title }}
          </div>

          }

          <app-kanban-item
            aria-hidden="true"
            draggable="false"
            [item]="null"
            class="mb-1 kanban-item"
            [class.block]="column.isDragging"
            [class.hidden]="!column.isDragging"
          />
        </div>
      </app-kanban-column>
      }
    </main>
  </div>
</div>
