// .cdk-drop-list-receiving {
//   border-color: red;
// }

.kanban-item:last-child {
  margin-bottom: 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}

/* Estilização para o componente que está sendo movido  */
.cdk-drag-preview > div {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1),
    0px 1px 4px -1px rgba(0, 0, 0, 0.1) !important;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.input-search {
  &:focus-within {
    border-color: #326fd1;
  }

  input {
    background: inherit;
  }
}

::ng-deep {
  .p-avatar-group p-avatar + p-avatar {
    margin-left: -0.7rem;
  }
  p-avatargroup {
    .p-avatar {
      width: 36px;
      height: 36px;
    }
  }
}
