@if(item(); as innerItem){
<button
  [attr.aria-label]="
    innerItem.title + 'Use a tecla Enter para carregar a visualização do item.'
  "
  class="kanban-item-container text-left bg-white p-3 border-round-md shadow-3 cursor-pointer border-none w-full hover:bg-gray-300"
  (click)="openItemModal()"
  type="button"
>
  <header class="mb-2 flex justify-content-between align-items-center">
    <p class="font-semibold text-sm mb-1 m-0">{{ innerItem.title }}</p>
    <img
      alt=""
      width="18px"
      height="18px"
      draggable="false"
      [src]="statusURL()"
    />
  </header>

  <div class="flex text-gray-800 flex-column gap-2">
    <span>
      <i class="pi pi-user"></i>
      {{ innerItem.document }}
    </span>
    <!-- <p class="text-sm">{{ innerItem.description }}</p> -->

    <span class="flex flex-row gap-1 text-xs">
      <i class="pi pi-map-marker"></i>
      {{ innerItem.branch }}
    </span>
  </div>

  <footer
    class="flex pt-1 mt-2 flex-row justify-content-between align-items-center"
  >
    <div class="flex flex-row align-items-center justify-content-center">
      <span class="flex text-gray-800 flex-row gap-1 text-sm">
        <i class="pi pi-stopwatch"></i>
        {{ formatDistance() }}
      </span>
    </div>
    <p-avatar
      [label]="getInitials(innerItem.assignee)"
      [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
      shape="circle"
      [pTooltip]="'Responsável: ' + innerItem.assignee"
      tooltipPosition="bottom"
    />
  </footer>
</button>
}

<!--

- modal de visualização do card

-->
