:host {
  min-height: 147px;
}

::ng-deep {
  /* Tooltip */
  .p-tooltip-arrow {
    display: none;
  }
  .p-tooltip {
    max-width: unset;
  }
  .p-tooltip-text {
    font-size: 12px;
    padding: 0.3rem;
    font-weight: normal;
  }

  .p-tooltip-text {
    white-space: break-word !important;
  }
}

.kanban-item-container {
  transition: background-color 0.3s ease-in-out;
}
