<button
  [attr.aria-label]="
    item().title + 'Use a tecla Enter para carregar a visualização do item.'
  "
  class="kanban-item-container"
  (click)="openItemModal()"
  type="button"
>
  <header>
    <p class="font-normal text-sm mb-4 m-0">{{ item().title }}</p>
  </header>

  <p class="text-sm">{{ item().description }}</p>

  <footer class="flex flex-row justify-content-between align-items-center">
    <div [class]="color()" class="px-4 py-1 rounded-full">
      <span>{{ statusText() }}</span>
    </div>

    <p-avatar
      [label]="getInitials(item().assignee)"
      styleClass="mr-2"
      [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
      shape="circle"
      [pTooltip]="'Responsável: ' + item().assignee"
      tooltipPosition="bottom"
    />
  </footer>
</button>

<!--

- modal de visualização do card

-->
